@font-face {
  font-family: "Mallory Black";
  src: url("../fonts/Mallory\ Black.ttf");
}
@font-face {
  font-family: "Mallory Bold";
  src: url("../fonts/Mallory\ Bold.ttf");
}
@font-face {
  font-family: "Blinker";
  src: url("../fonts/Blinker-Regular.ttf");
}
